body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/*========================== 
Hero section 
============================ */

.hero {
    
    background-image: url('Assets/Cricketer cover.png');
    background-size: cover;
    background-position: center;
    background-color: #46c2bc;
    padding-top: 230px;
    padding-bottom: 230px;
    padding-left: 50px;

    color: white;
    font-size: 20px; 
    
}

/*========================== 
Events section 
============================ */

    .events{
    background-color: #E8E8E8;
    height: 580px;
    }
    
    .events-text{
    text-align: center;
    color: black;
    font-size: 40px; 
    padding-top: 57px;
    }

    .all-events-cointainer{
        display: flex;
    justify-content: center;
        
    }



    .events-container {
        width: 256px;
        height: 276px;
        position: relative;
        border: 2px solid #D0CA39;
        background-color: white;
        margin: 0 100px;
    }
    
    .top-box {
        width: 109px;
        height: 49px;
        position: absolute;
        top: -24.5px; /* Half of the height */
        left: 50%;
        transform: translateX(-50%);
        background-color: #3962C3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative; /* Added this line for positioning the triangle */
    }
    
    .date,
    .time {
        color: white;
        font-size: 12px;
    }
    
    .top-box::after {
        content: '';
        position: absolute;
        bottom: -10px; /* Adjust this value as needed */
        left: 50%;
        margin-left: -5px; /* Half of the triangle base width */
        border-width: 5px;
        border-style: solid;
        border-color: #3962C3 transparent transparent transparent;
    }

    .image-container {
        position: absolute;
        top: 64px;
        left: 20px;
        display: flex;
        align-items: center;
    }
    
    .image {
        width: 81px;
        height: 54px;
    }
    
    .vs-text {
        font-size: 18px;
        color: #333; /* Adjust text color as needed */
        margin: 0 10px; /* Add margin between vs and images */
    }
    
    .team-names {
        position: absolute;
        top: 120px; /* 10px below the images */
        left: 40px; /* Adjust as needed */
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .first-team-text {
        color: #333; /* Adjust text color as needed */
        margin: 0;
    }
    .second-team-text{
        color: #333; /* Adjust text color as needed */
        padding-left: 60px;
    }

.predict-button {
    width: 208px;
    height: 37px;
    position: absolute;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #D0CA39;
    background-color: transparent;
    color: #D0CA39;
    font-size: 16px;
    cursor: pointer;
}

.predict-button:hover {
    background-color: #D0CA39;
    color: #fff;
}

.center-container{
     text-align: center;
}
.view-all-button {
   
    width: 208px;
    height: 37px;

    border: 2px solid #3962C3;
    background-color: transparent;
    color: #3962C3;
    font-size: 16px;
    cursor: pointer;
    margin-top: 41px;

}

.view-all-button:hover {
    background-color: #3962C3;
    color: #fff;

}


/*========================== 
Product advantages section 
============================ */

.product-advantages-image {
    height: 444px;
    width: 100%;
    background-image: url('Assets/Cricket Ball Image.png'); 
    background-size: cover;
    background-position: center;
    position: relative;

}

.product-advantages-text {
    color: white;
    font-size: 40px; 
    text-align: center;
    padding-top: 91px;


}

/*========================== 
Select parameters section 
============================ */

.select-parameters{
    background-color: #E8E8E8;
    height: 752px;
    align-items: center;
    position: relative;
    }
    

    .white-box{
        height: 575px;
        width: 949px;
        background-color: white;
        position: absolute;
        top: 50%; /* Position the square at the vertical center of the outer rectangle */
    left: 50%; /* Position the square at the horizontal center of the outer rectangle */
    transform: translate(-50%, -50%); /* Center the square precisely */

    }
    .select-parameters-text{
    text-align: center;
    color: black;
    font-size: 40px; 
    padding-top: 48px;
    }

    .cricketer-image {
        width: 309px; /* Cover the entire width of the outer rectangle */
        height: 712px; /* Maintain the aspect ratio of the image */
        position: absolute;
        bottom: 0; /* Start the image from the bottom of the outer rectangle */
        right: 76px;
        z-index: 1;
    }



















/*========================== 
Footer section 
============================ */

.footer{
    background-color: black;
    height: 298px;
    }
    
    .footer-text{
    text-align: center;
    color: white;
    font-size: 40px; 
    padding-top: 57px;
    }    